.operation-btn {
    height: 130rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $uni-bg-color;
    border-radius: 30rpx;
    margin-bottom: 30rpx;
}